<!DOCTYPE html>
<!--[if lte IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Media History Timeline
    {{#if title}}| {{title}}{{/if}}
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- <link rel="stylesheet" href="stylesheets/screen.css"> -->
</head>
<body>
  <header class="site-header">
    <h1>Media History Timeline</h1>
    <nav class="site-nav">
      <a href="/">Home</a>
      <a href="/tag">Tags</a>
    </nav>
  </header>

  <section class="site-body">
    {{{body}}}
  </section>

  <footer class="site-footer">
    <p class="footer-legal">&copy;2014 Global Action Project</p>
  </footer>

</body>
</html>